/* base.css */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

:root {
  /* colores principales */
  --color-bg: #fdfdfd;
  --color-text: #333;
  --color-primary: #a3c9ff;
  --color-secondary: #ffd6a5;
  --color-good: #b5e48c;
  --color-warn: #ffadad;
  --color-info: #caffbf;

  /* layout */
  --radius: 12px;
  --shadow: 0 2px 6px rgba(0,0,0,0.1);
}
